RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([\w\d]+)/([\w\d\.]+)\.png$ index.php?config=$1&player=$2
RewriteRule ^([\w\d\.]+)\.png$ index.php?config=default&player=$1